POSTGRES_DB=delivery_db
POSTGRES_USER=delivery_user
POSTGRES_PASSWORD=
JWT_SECRET=
DEMO_ENABLED=true
DEMO_PASSWORD=
JWT_EXPIRATION_MS=86400000
PHOTON_BASE_URL=https://photon.komoot.io
OSRM_BASE_URL=https://router.project-osrm.org
LOCATION_REQUEST_TIMEOUT_MS=8000
LOCATION_USER_AGENT=GoDrop-UTH-08/1.0-student-project
MAIL_ENABLED=false
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_AUTH=true
MAIL_TLS=true
